{% extends 'products/base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h4 class="mt-3 mb-3">Профиль</h4>
                <div class="col-lg-12 text-center">
                    <img width="100" height="100"
                         src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'vendor/img/users/default_avatar.jpg' %} {% endif %}"
                         class="img-thumbnail">
                </div>
                <form action="{% url 'users:profile' user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ userprofileform.first_name.id_for_label }}">Имя</label>
                                {{ userprofileform.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ userprofileform.last_name.id_for_label }}">Фамилия</label>
                                {{ userprofileform.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12">
                            <div class="custom-file">

                                {{ userprofileform.image }}
                                <label class="custom-file-label" for="{{ userprofileform.image.id_for_label }}">Выберите
                                    изображение</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ userprofileform.username.id_for_label }}">Имя пользователя</label>
                            {{ userprofileform.username }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ userprofileform.email.id_for_label }}">Адрес электронной
                                почты</label>
                            {{ userprofileform.email }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ userprofileeditform.tagline.id_for_label }}">Тэг</label>
                            {{ userprofileeditform.tagline }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ userprofileeditform.gender.id_for_label }}">Пол</label>
                            {{ userprofileeditform.gender }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ userprofileeditform.about_me.id_for_label }}">О себе</label>
                            {{ userprofileeditform.about_me }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <form action="{% url 'users:profile' user.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-info btn-block" value="Сохранить">
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                {% include 'basket/basket.html' %}
            </div>
        </div>
    </div>
{% endblock %}
